<p style="color: red">Очень-очень важный вопрос! Я не понимаю, как сделать так, 
чтобы кнопки выделялись при нажатии! Я поняла, что нужно рядом
с nav-link добавить active, но как это полностью реализовать
я не понимаю((( помогите</p>
<p style="color: red"> Я также поняла идею про шаблон карточки поста, я ее добавила в 
templates/includes/full_post.html, но мне нужна подсказка как 
реализовать именно условие. Именно подсказку, пожулайста <3 </p>

<header>
    {% load static %}
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          Блогикум
        </a>        
        <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:index' %}">
              Лента записей
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link" href="{% url 'pages:about' %}">
              О проекте
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pages:rules' %}">
              Наши правила
            </a>
          </li>
        </ul>      
      </div>
    </nav> 
  </header>